body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0.5vh 2vw;
  border-bottom: 2px solid #ccc;
  background: #fff;
  height: auto;
}

.content {
  padding: 10px;
  height: 100%;
  margin: 24px auto;
  max-width: 1600px;
  width: 100%;
}

.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-text {
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 10;
  max-width: 25vw;
}

.carousel-slide {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.footer {
  border-top: 2px solid #ccc;
  background: #e4e4e4;
}

.footer-text {
  font-size: 16px !important;
}
